$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-board {
  width: 40%;
  clear: both;
  min-height: 50;
}

.col-xs-4 {
  min-height: 50px;
  font-size: 30px;
  text-align: center;
}

.row-1 {
  border-bottom: 3px solid black;
}

.row-2 {
  border-bottom: 3px solid black;
}

.column-1 {
  border-right: 3px solid black;
}

.column-2 {
  border-right: 3px solid black;
}

.form-wrapper {
  width: 40%;
  float: right;
}

.form-inline {
  padding: 20px 0 20px 0;
}

#sign-up .modal-footer {
  margin-top: 10px;
}

#sign-in .modal-footer {
  margin-top: 10px;
}

#change-password .modal-footer {
  margin-top: 10px;
}
