$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-board {
  width: 60%;
  clear: both;
}

.col-xs-4 {
  border: 1px solid black;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.form-wrapper {
  width: 40%;
  float: right;
}

.form-inline {
  padding: 20px 0 20px 0;
}

#sign-up .modal-footer {
  margin-top: 10px;
}

#sign-in .modal-footer {
  margin-top: 10px;
}

#change-password .modal-footer {
  margin-top: 10px;
}
